*{
    margin: 20;
}

div {
    margin: 30px;
}

header li {
    text-align: center;
    border: blue 2px solid;
    display: inline-block;
    font-size: 40px;
    list-style: none;
    width: 90px;
    border-radius: 10px;
}

header li:hover {
    background-color: #beb30d;
    transition: all 0.3s ease;
}

header nav {
    text-align: center;
    overflow: hidden;
}

.box {
    height: 300px;
    width: 300px;
}

.div1 {
    height: 200px;
    width: 300px;
    margin: auto;
    background-color: brown;
}

.div2 {
    height: 200px;
    width: 300px;
    background-color: cornflowerblue;
    margin-left: auto;
}

.div3 {
    height: 200px;
    width: 300px;
    background-color: tomato;
    margin-right: auto
}

h2 {
    text-align: center;
}

#toPseudo::after {
    content: " after";
}

#toPseudo::before {
    content: "before ";
}

#toScale {
    height: 100px;
    width: 200px;
    background-color: teal;
    animation: beat 1.5s infinite;
}

#toTranslatex {
    height: 100px;
    width: 200px;
    background-color: teal;
    animation: translateX 1.5s infinite;
    animation-timing-function: ease-in-out;
}

#toTranslateYContainer{
    height: 300px;
    width: 500px;
    margin: 50px;
}

#toTranslateY {
    height: 100px;
    width: 200px;
    background-color: teal;
    animation: translateY 1.5s infinite;
}

#boxes-container {
    position: absolute;
    height: 600px;
    width: 600px;
    background-color: silver;
    overflow: hidden;
    z-index: -5;
}

.box1 {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: teal;
}

.box2 {
    position: absolute;
    left: 60px;
    top: 60px;
    background-color: sienna;
    animation: showBackLayer 1.5s infinite ;
    transition: all ease 2s;
}

@keyframes beat{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes translateX {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes translateY {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes showBackLayer {
    0%{
        z-index: -4;
    }
    50%{
        z-index: 9;
    }
    100%{
        z-index: -4;
    }
}